Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2022-11, with the labels that each got.

#137 Add integration test
  .github/workflows/tests.yml
  scenario.qdt.yml
Labels: ci-cd, quality

#139 Feature: job splash screen manager
  docs/index.md
  docs/jobs/index.md
  docs/jobs/splash_screen_manager.md
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/utils/win32utils.py
  requirements/base.txt
  scenario.qdt.yml
  tests/fixtures/profiles/good_profile_complete.json
  tests/fixtures/profiles/good_profile_minimal.json
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/test_qdt_profile_object.py
Labels: documentation, enhancement, dependencies, jobs, quality

#144 Fix documentation build on CI
  .github/workflows/documentation.yml
  docs/conf.py
  requirements/documentation.txt
Labels: documentation, ci-cd, dependencies

#148 Replace the variable scenario by scenario_filepath
  qgis_deployment_toolbelt/cli.py
  tests/test_cli_main.py
Labels: bug, quality

#149 Check the validity of the scenario file
  qgis_deployment_toolbelt/cli.py
  tests/test_cli_main.py
Labels: bug, quality

#152 Allow to specify branch to clone/pull
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Labels: enhancement, jobs, quality

#153 Packaging: Add Python 3.11 to supported versions
  .github/workflows/tests.yml
  setup.py
Labels: ci-cd, packaging

#154 Make the remote git handler much more robust to
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Labels: bug, enhancement

#155 Make logging binary : warning or debug
  qgis_deployment_toolbelt/cli.py
  scenario.qdt.yml
Labels: enhancement

#156 Add utils module to check paths in a centralized way
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  qgis_deployment_toolbelt/utils/__init__.py
  qgis_deployment_toolbelt/utils/check_path.py
  tests/test_qdt_profile_object.py
  tests/test_utils_check_path.py
Labels: enhancement, quality
