Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2023-01, with the labels that each got.

#151 Add module to check image size
  docs/usage/installation.md
  qgis_deployment_toolbelt/utils/check_image_size.py
  requirements/base.txt
  requirements/testing.txt
  tests/fixtures/miscellaneous/sample_with_dimensions_attributes.svg
  tests/fixtures/miscellaneous/sample_without_dimensions_attributes.svg
  tests/test_utils_images_size.py
Labels: enhancement, dependencies, quality

#165 Add test for utils.slugifier
  tests/test_utils_slugifier.py
Labels: quality

#166 Improve test coverage on check image
  tests/test_utils_images_size.py
Labels: quality

#157 Increase test coverage
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/profiles/shortcuts.py
  tests/test_cli_check.py
  tests/test_cli_clean.py
  tests/test_constants.py
  tests/test_job_environment_variables.py
  tests/test_utils_check_path.py
Labels: jobs, quality

#167 Feature: add option to check splash screen dimensions
  docs/jobs/splash_screen_manager.md
  qgis_deployment_toolbelt/exceptions.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Labels: documentation, enhancement, jobs, quality

#170 CI: build Python wheel using build package
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  setup.py
Labels: ci-cd, packaging

#171 Use GE to deploy to GH Pages instead of branch gh-pages
  .github/workflows/documentation.yml
Labels: ci-cd

#168 Feature: plugins downloader
  .github/workflows/tests.yml
  .vscode/settings.json
  docs/jobs/index.md
  docs/jobs/plugins_manager.md
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/cli_upgrade.py
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/plugins/__init__.py
  qgis_deployment_toolbelt/plugins/plugin.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/utils/file_downloader.py
  scenario.qdt.yml
  tests/fixtures/profiles/good_profile_complete.json
  tests/test_qplugin_object.py
Labels: documentation, enhancement, ci-cd, jobs, tooling, quality

#173 Set minimal Python to 3.10
  .github/workflows/tests.yml
  docs/development/windows.md
Labels: documentation, ci-cd

#172 Feature: plugins synchronization - part 1/2
  .gitignore
  docs/jobs/index.md
  docs/jobs/plugins_downloader.md
  docs/jobs/plugins_synchronizer.md
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/plugins/plugin.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/utils/file_downloader.py
  scenario.qdt.yml
  tests/fixtures/profiles/good_profile_complete.json
  tests/fixtures/profiles/good_profile_minimal.json
  tests/test_qdt_profile_object.py
  tests/test_qplugin_object.py
Labels: documentation, jobs, quality

#174 Feature: plugins synchronization part 2
  .vscode/tasks.json
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/plugins/plugin.py
  scenario.qdt.yml
Labels: enhancement, jobs

#175 Fix: download URL should use folder_name when exists instead of name
  qgis_deployment_toolbelt/plugins/plugin.py
Labels: bug

#176 Feature: plugins synchronization part 3 - Upgrade older plugins
  docs/jobs/plugins_synchronizer.md
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/plugins/plugin.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  requirements/base.txt
  scenario.qdt.yml
  tests/test_qplugin_object.py
Labels: documentation, dependencies, jobs, quality

#177 Dependencies: replace semver by packaging to compare versions
  qgis_deployment_toolbelt/commands/cli_upgrade.py
  requirements/base.txt
  tests/test_about.py
Labels: dependencies, quality

#178 Feature: improve shortcut manager to create shortcuts on Linux (FreeDesktop)
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/profiles/shortcut_freedesktop.template
  qgis_deployment_toolbelt/profiles/shortcuts.py
  requirements.txt
  requirements/base.txt
  requirements/packaging.txt
  scenario.qdt.yml
  tests/dev/dev_pyshortcuts.py
  tests/test_constants.py
  tests/test_shortcuts.py
Labels: dependencies, jobs, quality

#179 Feature: upgrade show changelog
  qgis_deployment_toolbelt/commands/cli_upgrade.py
  requirements/base.txt
Labels: dependencies

#180 Tooling: upgrade JSON schemas
  .vscode/settings.json
  docs/schemas/jobs/generic.json
  docs/schemas/jobs/manage-env-vars.json
  docs/schemas/jobs/qprofiles-manager.json
  docs/schemas/schema.json
  docs/schemas/settings.json
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Labels: documentation, tooling, quality

#181 Embed shortcut template into packages
  MANIFEST.in
Labels: bug, packaging
