Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2023-10, with the labels that each got.

#313 Update Pillow to fix CVE related to libwebp
  requirements/testing.txt
Labels: dependencies

#314 Switch license from LGPL3 to Apache License 2
  LICENSE
  qgis_deployment_toolbelt/__about__.py
  qgis_deployment_toolbelt/cli.py
  setup.py
Labels: packaging

#315 Mise à jour documentation
  docs/guides/howto_qgis_get_plugin_id.md
  docs/static/plugin_search.png
Labels: documentation
