Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2024-04, with the labels that each got.

#455 fix(env variable): update local environment
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Labels: bug, jobs

#464 feat(installed qgis): add qgis-installation-finder job
  docs/jobs/index.md
  docs/jobs/qgis_installation_finder.md
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/qgis-installation-finder.json
  docs/usage/settings.md
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
  qgis_deployment_toolbelt/exceptions.py
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  tests/test_job_qgis_installation_finder.py
Labels: documentation, enhancement, jobs, quality

#479 release: bump version to 0.33.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Labels: documentation

#483 enhancement: improve reliability of version templater making sure that a SemVer compliant version number is passed
  builder/version_info_templater.py
Labels: enhancement, packaging

#481 Feature: add rules engine
  docs/index.md
  docs/reference/qdt_profile.md
  docs/schemas/profile/qgis_profile.json
  docs/schemas/profile/rules.json
  docs/usage/profile.md
  examples/README.md
  examples/profiles/only_linux/.gitignore
  examples/profiles/only_linux/profile.json
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/utils/computer_environment.py
  requirements/base.txt
  tests/dev/dev_rules_engine.py
Labels: documentation, enhancement, dependencies, jobs, quality

#486 fix(logs): unreachable profile-attributes in logs
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Labels: bug, jobs

#488 Docs: add local test qdt
  docs/development/testing.md
Labels: documentation, jobs

#485 Docs: add rules context dynamically
  .gitignore
  docs/conf.py
  docs/development/documentation.md
  docs/reference/qdt_profile.md
Labels: documentation, jobs, tooling

#393 Feature: retrieve win32 user groups
  qgis_deployment_toolbelt/utils/user_groups.py
  requirements/base.txt
  tests/dev/dev_win_user_groups.py
Labels: enhancement

#489 feature(rules): add user name and groups to rules context
  docs/conf.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/utils/computer_environment.py
Labels: documentation, enhancement, jobs

#490 tests(usergroups): add unit tests against user groups module
  docs/jobs/profiles_downloader.md
  docs/jobs/profiles_manager.md
  docs/jobs/profiles_synchronizer.md
  tests/dev/dev_dulwich_remote.py
  tests/test_git_handler_remote.py
  tests/test_job_profiles_sync.py
  tests/test_utils_check_path.py
  tests/test_utils_user_groups.py
Labels: documentation, quality

#491 Refacto: move rules context into a structured object
  docs/conf.py
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  qgis_deployment_toolbelt/profiles/rules_context.py
  qgis_deployment_toolbelt/utils/computer_environment.py
  tests/test_rules_context.py
Labels: documentation, jobs, quality

#492 feature(cli): add command to export rules context in current environment
  docs/reference/qdt_profile.md
  docs/usage/cli.md
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/__init__.py
  qgis_deployment_toolbelt/commands/cmd_rules_context.py
  qgis_deployment_toolbelt/profiles/rules_context.py
  tests/test_cli_main.py
  tests/test_cli_rules_context_export.py
  tests/test_cli_upgrade.py
Labels: documentation, enhancement, quality

#494 feature(rules): retrieve user extended data using win32 API
  qgis_deployment_toolbelt/profiles/rules_context.py
  qgis_deployment_toolbelt/utils/user_groups.py
  qgis_deployment_toolbelt/utils/win32utils.py
Labels: enhancement

#496 Documentation: improve download section
  docs/conf.py
  docs/misc/examples.md
Labels: documentation

#497 fix(profiles): profiles listing was returning the unfiltered list
  qgis_deployment_toolbelt/jobs/generic_job.py
  tests/fixtures/profiles/good_profile_rules_never_deployed.json
  tests/test_job_generic.py
Labels: bug, jobs, quality
