Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2024-03, with the labels that each got.

#444 Feature: network use native system stores
  docs/guides/howto_behind_proxy.md
  docs/guides/howto_use_custom_ssl_certs.md
  docs/index.md
  docs/usage/settings.md
  qgis_deployment_toolbelt/utils/file_downloader.py
  qgis_deployment_toolbelt/utils/journalizer.py
  requirements/base.txt
Labels: documentation, enhancement, dependencies

#447 packaging: set Python min/max versions
  setup.cfg
  setup.py
Labels: packaging

#449 fix: remove deprecated job and fix minor confusing refs
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/qprofiles-manager.json
  docs/schemas/scenario/jobs/qprofiles-synchronizer.json
  docs/schemas/scenario/metadata.json
Labels: bug, documentation

#443 deps: bump minimal versions for git sync
  requirements/base.txt
Labels: dependencies

#453 demo: renew shortcuts profiles icons and add versions compatible with QGIS profiles list
  examples/profiles/Viewer Mode/icon.png
  examples/profiles/Viewer Mode/icon.svg
  examples/profiles/Viewer Mode/images/icon_shortcut_qdt_viewer_mode.ico
  examples/profiles/Viewer Mode/images/logo_qdt.ico
  examples/profiles/Viewer Mode/profile.json
  examples/profiles/demo/icon.png
  examples/profiles/demo/icon.svg
  examples/profiles/demo/images/icon_shortcut_qdt_demo.ico
  examples/profiles/demo/images/logo_qdt.ico
  examples/profiles/demo/profile.json
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Labels: documentation

#452 feat(env variable): add write of environnement variable in .ini files from QDT profile
  .github/workflows/tests.yml
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
  examples/profiles/demo/QGIS/QGIS3.ini
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
  qgis_deployment_toolbelt/utils/ini_interpolation.py
  tests/test_qgis_ini_helper.py
  tests/test_utils_ini_interpolation.py
Labels: documentation, ci-cd, jobs, quality

#456 docs: remove pattern from JSON schemas
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
Labels: documentation

#457 docs: add how to check using git hooks
  docs/guides/howto_validate_profiles_scenarios.md
Labels: documentation

#458 docs: add robots.txt for SEO engines
  docs/conf.py
  docs/robots.txt
Labels: documentation

#459 docs: enable zoom in mermaid diagrams
  docs/conf.py
Labels: documentation

#460 Docs: autodoc __init__ functions
  docs/conf.py
Labels: documentation

#461 Tooling: add config for markdown files in VS Code
  .vscode/settings.json
Labels: documentation, tooling

#462 Docs: fix autobuild command
  .gitignore
  docs/development/documentation.md
Labels: bug, documentation

#463 Docs: complete validation tooling
  docs/conf.py
  docs/guides/howto_validate_profiles_scenarios.md
  docs/index.md
  docs/static/extra/qdt_assisted_edition_vscode.webm
  docs/usage/profile.md
  docs/usage/scenario.md
Labels: documentation, tooling

#466 docs: move how to publish to an HTTP server in a specific guide page
  docs/guides/howto_publish_http.md
  docs/usage/profile.md
Labels: documentation

#467 Docs: minor fixes
  .vscode/settings.json
  docs/guides/howto_use_custom_ssl_certs.md
  docs/index.md
  docs/usage/installation.md
Labels: bug, documentation, tooling

#468 Docs: add quickstart
  docs/index.md
  docs/usage/installation.md
Labels: documentation, tooling
