Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2024-10, with the labels that each got.

#562 feat(pac): add file for tests
  tests/fixtures/pac/proxy.pac
Labels: quality

#560 feat(proxies): use pypac to use PAC file
  docs/guides/howto_behind_proxy.md
  docs/usage/settings.md
  qgis_deployment_toolbelt/commands/upgrade.py
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
  qgis_deployment_toolbelt/utils/file_downloader.py
  qgis_deployment_toolbelt/utils/proxies.py
  requirements/base.txt
  tests/dev/dev_download_file_proxies.py
  tests/test_utils_proxies.py
Labels: documentation, dependencies, quality

#566 fix(scenario): qgis-installation-finder accept if_not_found value warning and not warn.
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
Labels: bug, documentation

#564 feat(pypac): add tldextract cache directory in pyinstaller
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  builder/tldextract_update.py
Labels: bug, documentation, ci-cd, packaging

#568 feat(changelog): update for 0.36.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Labels: documentation
