Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2024-11, with the labels that each got.

#577 improve(plugins_sync): handle cases where a downloaded plugin is not a valid ZIP
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Labels: enhancement, jobs

#586 fix(log): limit pyad to 0.6.2 for correct log level
  requirements/base.txt
Labels: bug, dependencies

#584 fix(proxies): define environment variable for proxy use for git clone
  qgis_deployment_toolbelt/profiles/profiles_handler_base.py
  qgis_deployment_toolbelt/utils/proxies.py
Labels: bug

#587 feat(plugin download): add application/x-zip-compressed for header Accept
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Labels: enhancement, jobs

#589 update(chore): move project under Github organization
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/build_release.yml
  README.md
  docs/development/releasing.md
  docs/development/ubuntu.md
  docs/development/windows.md
  docs/guides/howto_validate_profiles_scenarios.md
  docs/index.md
  docs/reference/qdt_profile.md
  docs/robots.txt
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
  docs/schemas/profile/rules.json
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/manage-env-vars.json
  docs/schemas/scenario/jobs/qgis-installation-finder.json
  docs/schemas/scenario/jobs/qplugins-downloader.json
  docs/schemas/scenario/jobs/qplugins-synchronizer.json
  docs/schemas/scenario/jobs/qprofiles-downloader.json
  docs/schemas/scenario/jobs/qprofiles-synchronizer.json
  docs/schemas/scenario/jobs/shortcuts-manager.json
  docs/schemas/scenario/jobs/splash-screen-manager.json
  docs/schemas/scenario/metadata.json
  docs/schemas/scenario/schema.json
  docs/schemas/scenario/settings.json
  docs/usage/how_to_use.md
  docs/usage/installation.md
  docs/usage/profile.md
  docs/usage/scenario.md
  examples/README.md
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
  examples/profiles/Viewer Mode/profile.json
  examples/profiles/demo/profile.json
  examples/profiles/only_linux/profile.json
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
  qgis_deployment_toolbelt/__about__.py
  scenario.qdt.yml
  tests/dev/dev_dulwich_remote.py
  tests/dev/dev_qdt_files_reader.py
  tests/dev/dev_validate_yaml_with_json_schema.py
  tests/fixtures/profiles/good_profile_rules_never_deployed.json
  tests/fixtures/profiles/good_sample_profile.json
  tests/fixtures/scenarios/good_scenario_plugins_downloader_force.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_http.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_different.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_missing.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/fixtures/scenarios/good_scenario_splash_screen_remove.qdt.yml
  tests/fixtures/scenarios/good_scenario_with_unexisting_jobs.qdt.yml
  tests/fixtures/scenarios/scenario_sample_as_admin.qdt.yml
  tests/test_utils_file_downloader.py
  tests/test_utils_formatters.py
  tests/test_utils_proxies.py
Labels: documentation, ci-cd, quality
