Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2024-12, with the labels that each got.

#594 fix(test): make sure dl_url is a string
  tests/test_cli_upgrade.py
Labels: bug, quality

#595 add(docs): add script todownload latest QDT version with PowerShell
  docs/guides/howto_download_latest_qdt_exe.md
  docs/index.md
  scripts/qdt_dowloader.ps1
Labels: documentation

#596 fix(proxy): HTTP_PROXY env variable was not removed after os_env_proxy wrapper
  qgis_deployment_toolbelt/utils/proxies.py
Labels: bug

#559 Docs: update json schemas
  .vscode/settings.json
  docs/schemas/profile/qgis_profile.json
  docs/schemas/profile/rules.json
  docs/schemas/scenario/jobs/qdt_job_base.json
  docs/schemas/scenario/qdt_scenario.json
Labels: documentation, tooling

#600 Fix schemas
  docs/schemas/profile/rules.json
  docs/schemas/scenario/jobs/qgis-installation-finder.json
Labels: bug, documentation

#601 fix(docs): simplify JSON schema of job qgis-finder
  docs/schemas/scenario/jobs/qgis-installation-finder.json
Labels: bug, documentation

#597 update(ci): use macos-15 since macos-12 is deprecated
  .github/workflows/build_release.yml
Labels: ci-cd
