Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2024-09, with the labels that each got.

#541 feature(downloader): add option to control over stream mode
  docs/usage/settings.md
  qgis_deployment_toolbelt/commands/deployment.py
  qgis_deployment_toolbelt/commands/upgrade.py
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
  qgis_deployment_toolbelt/utils/file_downloader.py
  tests/test_utils_file_downloader.py
Labels: documentation, enhancement, jobs, quality

#542 update(packaging): use Python 3.12 to build packages
  .github/workflows/build_release.yml
Labels: ci-cd, packaging

#543 Enhancement: rename shortcut module and improve docstring/type hints consistency
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/shortcuts/__init__.py
  qgis_deployment_toolbelt/shortcuts/shortcuts_handler.py
  tests/test_shortcuts.py
Labels: quality

#544 feature(downloader): add option to disable SSL verification
  docs/usage/settings.md
  qgis_deployment_toolbelt/utils/file_downloader.py
Labels: documentation, enhancement

#545 release: bump version to 0.35.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Labels: documentation

#548 add(tooling): helper script to convert png to ico
  qgis_deployment_toolbelt/shortcuts/icon_converter.py
  tests/dev/dev_png2ico.py
Labels: enhancement, quality

#549 improve(downloader): use a custom HTTP transport adapter instead of rough injection
  qgis_deployment_toolbelt/utils/file_downloader.py
  tests/dev/dev_http_network_check.py
Labels: enhancement, quality

#550 fix(downloader): stream option was not propagated to get args
  qgis_deployment_toolbelt/utils/file_downloader.py
Labels: bug

#551 fix(downloader): qdt_plugins_to_copy was not created in force mode
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Labels: bug, jobs

#552 improve(tests): add scenario to test against plugins downloader in monothread and forced
  tests/fixtures/scenarios/good_scenario_plugins_downloader_force.qdt.yml
Labels: enhancement, quality

#557 update(docs): add how to use autogenerated release notes from GitHub
  docs/development/releasing.md
Labels: documentation

#535 Feature: support `search_paths` option in QGIS finder job
  docs/jobs/qgis_installation_finder.md
  docs/schemas/scenario/jobs/qgis-installation-finder.json
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
  scenario.qdt.yml
  tests/dev/dev_qgis_install_version.py
Labels: documentation, enhancement, jobs, quality

#555 fix(profile sync): force copy if sync_mode is overwirte
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Labels: bug, jobs
