Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2025-09, with the labels that each got.

#686 fix(tooling): pytest config was conflicting in VS Code
  .vscode/settings.json
Labels: bug, tooling

#685 update(docs): publicize Matrix channel
  README.md
  docs/index.md
Labels: documentation

#702 update(ci): do not run certains jobs in forks
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/security.yml
Labels: ci-cd

#701 Fix: RemoteProfilesHandlerBase.list_remote_branches for newer versions of dulwich.porcelain
  pyproject.toml
  qgis_deployment_toolbelt/profiles/profiles_handler_base.py
  tests/test_git_handler_remote.py
Labels: bug, dependencies, packaging, tooling, quality

#708 Release: 0.39.1
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#716 fix(logs): disable error raising about invalid repo
  qgis_deployment_toolbelt/profiles/profiles_handler_base.py
Labels: bug

#713 Docs and upgrade: distinguish current version from last release
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  docs/conf.py
  docs/index.md
  qgis_deployment_toolbelt/__about__.py
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/upgrade.py
Labels: documentation, ci-cd
