Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2025-04, with the labels that each got.

#632 add(docs): reference QDT active and known users
  docs/index.md
  docs/misc/_references_carousel.md
  docs/misc/funding.md
  docs/misc/references.md
  docs/static/logo_amp.png
  docs/static/logo_anfsi.png
  docs/static/logo_cd-loire.png
  docs/static/logo_eaux-et-vilaine.png
  docs/static/logo_grenoble.png
  docs/static/logo_isl.png
  docs/static/logo_lpo.png
  docs/static/logo_lyon.png
Labels: documentation

#633 Docs: Change the icons in the "They use QDT" section
  docs/static/logo_amp.png
  docs/static/logo_anfsi.png
  docs/static/logo_cd-loire.png
  docs/static/logo_eaux-et-vilaine.png
  docs/static/logo_etablissement_public_loire.png
  docs/static/logo_grenoble.png
  docs/static/logo_isl.png
  docs/static/logo_lpo.png
  docs/static/logo_lyon.png
Labels: documentation

#634 add(docs): how to make QDT work with private git repositories
  .vscode/settings.json
  docs/conf.py
  docs/guides/howto_manage_private_git.md
  requirements/documentation.txt
  scripts/qdt_clone_pull_profiles.ps1
Labels: documentation, dependencies, tooling

#641 update(ci): improve jobs conditions to fix documentation build
  .github/workflows/documentation.yml
Labels: bug, documentation, ci-cd

#642 update(packaging): add Python 3.13 to tested and supported versions
  .github/workflows/tests.yml
  .gitignore
  setup.py
  sonar-project.properties
Labels: ci-cd, packaging, tooling

#644 update(docs): add ExecutionPolicy and parent folder creation to QDT downloader script
  docs/guides/howto_download_latest_qdt_exe.md
  scripts/qdt_dowloader.ps1
Labels: documentation

#646 improve(test): add case with a prefixed environment variable
  .github/workflows/tests.yml
  tests/fixtures/scenarios/good_scenario_with_prefixed_env_vars.qdt.yml
Labels: bug, enhancement, ci-cd, quality

#647 fix(ci): split build and deploy in 2 jobs
  .github/workflows/documentation.yml
Labels: bug, documentation, ci-cd

#619 Add new job "default-profile-setter"
  docs/jobs/default_profile_setter.md
  docs/jobs/index.md
  docs/schemas/scenario/jobs/default-profile-setter.json
  docs/schemas/scenario/jobs/qdt_job_base.json
  docs/schemas/scenario/jobs/qplugins-synchronizer.json
  docs/schemas/scenario/jobs/shortcuts-manager.json
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_default_profile_setter.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  tests/fixtures/scenarios/good_scenario_plugins_downloader_force.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_http.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_different.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_missing.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/fixtures/scenarios/good_scenario_splash_screen_remove.qdt.yml
  tests/fixtures/scenarios/scenario_sample_as_admin.qdt.yml
  tests/test_job_default_profile_setter.py
  tests/test_job_generic.py
  tests/test_utils_check_path.py
Labels: documentation, enhancement, jobs, quality

#648 Extend default profile setter job with force_profile_selection_policy option
  docs/jobs/default_profile_setter.md
  docs/schemas/scenario/jobs/default-profile-setter.json
  qgis_deployment_toolbelt/jobs/job_default_profile_setter.py
  tests/test_job_default_profile_setter.py
Labels: documentation, jobs, quality

#650 update(docs): add screenshots and features to README, VS Code tooling for docs and default-profile-setter to demo scenario
  .vscode/extensions.json
  README.md
  docs/static/examples_qgis_profiles_menu.png
  scenario.qdt.yml
Labels: documentation, enhancement, tooling

#651 release: bump version to 0.37.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
  setup.py
Labels: documentation, packaging

#653 README: fix typos
  README.md
Labels: documentation

#654 README: Add QDT logo
  README.md
Labels: documentation

#656 update(ci): set GH permission scope to improve security
  .github/workflows/build_release.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Labels: ci-cd

#657 fix: correctly handle UNC paths
  docs/development/testing.md
  docs/jobs/profiles_downloader.md
  qgis_deployment_toolbelt/profiles/profiles_handler_base.py
Labels: bug, documentation

#655 Attempt to avoid to trigger integration tests on doc updates
  .github/workflows/tests.yml
Labels: bug, ci-cd

#658 release: bump version to 0.37.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Labels: documentation

#608 Allow usage of environment variables in rules path
  docs/reference/qdt_profile.md
  docs/schemas/scenario/settings.json
  qgis_deployment_toolbelt/commands/deployment.py
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/profiles/rules_context.py
  qgis_deployment_toolbelt/utils/str2bool.py
  tests/test_rules_context.py
Labels: documentation, ci-cd, dependencies, jobs, quality
