Repository qgis-deployment/qgis-deployment-toolbelt-cli, pull requests merged in 2025-05, with the labels that each got.

#664 Store decoded branch name instead of bytes
  qgis_deployment_toolbelt/profiles/profiles_handler_base.py
Labels: enhancement

#556 Packaging: switch to pyproject.toml
  .github/labeler.yml
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  MANIFEST.in
  SECURITY.md
  docs/development/documentation.md
  docs/development/packaging.md
  docs/development/releasing.md
  docs/development/testing.md
  docs/development/ubuntu.md
  docs/development/windows.md
  pyproject.toml
  qgis_deployment_toolbelt/__about__.py
  requirements.txt
  requirements/base.txt
  requirements/development.txt
  requirements/documentation.txt
  requirements/packaging.txt
  requirements/security.txt
  requirements/testing.txt
  setup.cfg
  setup.py
  tests/dev/dev_copy_files_pathlib.py
  tests/test_utils_check_path.py
Labels: documentation, ci-cd, dependencies, packaging, tooling, quality

#669 fix(docs): fix schema and add documentation for rules prefixes in scenario settings
  docs/reference/qdt_profile.md
  docs/schemas/scenario/settings.json
  docs/usage/scenario.md
  docs/usage/settings.md
Labels: bug, documentation
